p {
    font-size: 30px;
    color: white;
}

h1 {
    font-size: 50px;
    color: #233CE6;
    font-weight: bold;
    background-color: white;
}

a {
    font-size: 25px;
    background-color: white;
    margin-right: 50px;

}

main {
    background-color: #08124A;
}

body {
    background-color: #8A4E2E;
}